@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Oculta el scrollbar en navegadores basados en WebKit (Chrome, Safari) */
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none; /* Oculta el scrollbar en Internet Explorer y Edge */
    scrollbar-width: none; /* Oculta el scrollbar en navegadores basados en WebKit (Chrome, Safari) y Firefox */
  }